.content {
    display: flex;
    flex-direction: column;
    margin: 80px 0 40px 0;
}

.title_main-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_main-title {
    margin-bottom: 0 !important;
    font-size: 32px;
    display: flex;
}

.title_main-title_strong {
    
    font-weight: 700;
    letter-spacing: -.05em;
    display: block;
    line-height: 48px;
    font-size: 16px;
    margin-left: 6px;
}

.view-more {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;  
    color: #6a5acd;   
}

.title_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title_title {
    font-size: 24px;
}

.title_description {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: -.02em;
    color: #878787;
}